<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - App.</title>
    @*@Styles.Render("~/Content")*@
    @{
        var theme = Themes.CurrentTheme;
       }

    @Styles.Render(Logqso.mvc.ui.Helpers.JQueryUI.Bundle(theme))
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/logqso")





</head>
<body id="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LogQso", "logqso", "logqso", new { area = "" }, new { @class = "navbar-brand"} )
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "logqso")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "logqso")</li>
                      @if (Logqso.mvc.ui.MvcApplication.IsDebug == true)
                      {
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                      }
               </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@

   @RenderSection("scripts", required: false)
</body>
</html>
